@font-face {
  font-family: 'NotoSerifJP';
  scr: url('/gunka/NotoSerifJP-Regular.otf') format('otf');
}
@font-face {
  font-family: 'BabelStoneHan';
  src: url('/gunka/BabelStoneHan.woff') format('woff');
}
body {
  background-color: #FAF9F6;
  display: flex;
  margin: 0;
}
p {
  font-family: 'NotoSerifJP';
  font-size: 200%;
  line-height: 1.6;
  writing-mode: tb-rl;
  white-space: nowrap;
  float: right;
  padding: 30px;
  margin: 0;
}
.hentai {
  font-family: 'BabelStoneHan';
}
