@font-face {
  font-family: 'BabelStoneHan';
  src: url('/gunka/BabelStoneHan.woff') format('woff');
}
body {
  background-color: #FAF9F6;
  padding: 20px;
  margin: 0;
  display: flex;
}
p {
  font-family: 'BabelStoneHan';
  font-size: 200%;
  writing-mode: tb-rl;
  white-space: nowrap;
  float: right;
  margin: 0 30px;
  line-height: 1.6;
}
