@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@font-face {
  font-family: 'BabelStone Han';
  src: url('https://www.babelstone.co.uk/Fonts/WOFF/BabelStoneHan.woff') format('woff');
}
body {
  background-color: #faf9f6;
  display: flex;
  margin: 0;
}
p {
  font-family: 'Noto Serif JP', serif;
  font-size: 200%;
  line-height: 2;
  writing-mode: vertical-rl;
  font-kerning: none;
  white-space: nowrap;
  float: right;
  padding: 20px;
  margin: 0;
}
first-line {
  display: flex;
  justify-content: center;
}
line {
  display: flex;
}
hito {
  height: 60%;
}
futa {
  height: 40%;
}
hen {
  font-family: 'BabelStone Han';
}
a {
  text-decoration: none;
}
