@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@font-face {
  font-family: 'BabelStone Han';
  src: url('https://www.babelstone.co.uk/Fonts/WOFF/BabelStoneHan.woff2') format('woff2');
  src: url('https://www.babelstone.co.uk/Fonts/WOFF/BabelStoneHan.woff') format('woff');
}
body {
  background-color: #FAF9F6;
  display: flex;
  margin: 0;
}
p {
  font-family: 'Noto Serif JP', serif;
  font-size: 200%;
  line-height: 1.6;
  writing-mode: tb-rl;
  text-orientation: upright;
  white-space: nowrap;
  float: right;
  padding: 30px;
  margin: 0;
}
.hentai {
  font-family: 'BabelStone Han';
}
.year {
  text-orientation: mixed;
}
